* {
    margin: 0;
}

.main-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 24vw;
    background-color: #1f1f3d;
}

.main-header {
    margin: 15px;
    margin-left: 16px;
    font-size: large;
    font-family: "Open Sans", Bold;
    font-weight: bold;
    color: #e9e9f3;
}

.second-header {
    font-family: "Open Sans", Bold;
    font-weight: bold;
    color: #bfbfdd;
    margin: 12px;
    margin-left: 0;
}

.starred-ideas {
    cursor: not-allowed;
    background-color: #5356a4;
    color: #e9e9f3;
    border: 0;
    height: 35px;
    width: 18vw;
    padding: 4px;
    font-size: large;
    font-weight:600;
}

.nav-color {
    padding-left: 18px;
    border-top: solid #353567;
    border-bottom: solid #353567;
    padding-bottom: 30px;
}

body {
    display: flex;
    font-family: "Open Sans";
}

.input-container {
    padding-right: 18px;
    width: 75vw;
    height: 40vh;
    background-color: #A9AAD2;
    display: flex;
    justify-content: center;
    border: 2px solid #eaeaf4;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
}

.title-input {
    width: 24vw;
    height: 3.5vh;
}

.body-input {
    width: 24vw;
    height: 10vh;
    margin-bottom: 10px;
}

.body-input, 
.title-input, 
.search-ideas {
    border: solid 1.5px #353567;
    font-family: "Open Sans", Light;
}

.save-button {
    width: 24.4vw;
    height: 5vh;
    font-size: 20px;
    background-color: #63639a;
    color:#e9e9f3;
    border:0;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
    cursor: auto;
}

.save-button-able {
    background-color: #353567;
    cursor: pointer;
}

.search-button {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3vw;
    height: 4.8vh;
    border: 0;
    background-color: #353567;
    cursor: not-allowed;
    margin-top: 10px;
}

::placeholder {
    color:#5356a4;
    opacity: 1;
}

.search-ideas {
    color:#bfbfdd;
    width: 21vw;
    height: 4.3vh;
    padding-left: -5px;
    margin-top: 10px;
}

.search-icon {
    height: 3vh;
    width: 3vw;
    border: 0;
}

.idea-search {
    display: flex;
}

.user-input {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color:#1f1f3d;
    margin: 0;
}

.titles {
    margin: 5px;
    font-size: 14px;
}

.saved-cards {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-columns: 150px;
    gap: 12px;
    width: 75vw;
    height: 60%;
    background-color: #eaeaf4;
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.idea-container {
    border: 1px solid #1f1f3d;
    width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    background-color: #fff;
    font-family: "Open Sans", Bold;
}

.top-margin {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f3d;
}

.x-btn, 
.star-btn {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #1f1f3d;
    cursor: pointer;
}

.bottom-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #5356a4;
    height: 40px;
    border: #1f1f3d
}

.plus-button {
    width: 40px;
    height: 40px;
    background-color: #5356a4;
    border: 0;
    cursor: not-allowed;
}

.idea-title, 
.idea-contents {
    padding-left: 6px;
    padding-top: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    color: #1f1f3d
}

.idea-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family:'Open Sans', Bold;
}

.idea-contents {
    font-family: "Open Sans", Light;
}

.idea-card-comment {
    color: #e9e9f3;
    font-size: 16px;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
}

