/* * {
margin: 0;
padding: 0;
border: 0;
} */
/* * {
    border: 2px solid red;
} */
/* html {
    font-family: "Open Sans", sans-serif;
} */
.main-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 24vw;
    background-color: #1f1f3d;
}
.main-header {
    padding-left: 18px;
    font-size: large;
    font-family: "Open Sans", Bold;
    font-weight: bold;
    color: #e9e9f3;
}
.second-header {
    font-family: "Open Sans", Bold;
    font-weight: bold;
    color: #bfbfdd
}
.starred-ideas {
    cursor: pointer;
    background-color: #5356a4;
    color: #e9e9f3;
    border: 0;
    height: 35px;
    width: 18vw;
    padding: 4px;
    font-size: large;
    font-weight:600;
}
.nav-color {
    padding-left: 18px;
    border-top: solid #353567;
    border-bottom: solid #353567;
    padding-bottom: 30px;
}
body {
    display: flex;
}
/* this is input values */
.input-container {
    width: 75vw;
    height: 40vh;
    background-color: #A9AAD2;
    display: flex;
    justify-content: center;
    border: 2px solid #eaeaf4;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
}
.title-input {
    width: 50vw;
    height: 3.5vh;
    font-family: "Open Sans", Light;
}
.body-input {
    width: 50vw;
    height: 10vh;
    font-family: "Open Sans", Light;
    }

.body-input, .title-input, .search-ideas {
    border: solid 1.5px #353567
}
#titles {
    font-size: 16px;
    margin-bottom: 1.5px
}
.save-button {
    width: 50.3vw;
    height: 5vh;
    font-size: 20px;
    background-color:#353567;
    color:#e9e9f3;
    border:0;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
}
#search-button {
    width: 4vw;
    height: 5vh;
    border: 0;
    background-color: #353567;
    cursor: pointer;
}
.search-ideas {
    width: 46vw;
    height: 4.5vh;
    padding-left: -5px;
}
#search-icon {
    height: 3vh;
    width: 3vw;
    border: 0;
}
.idea-search {
    display: flex;
}
.user-input {
    display: flex;
    flex-direction: column;
}
/* this is for saved cards */
.saved-cards {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 75vw;
        height: 60vh;
        background-color: #eaeaf4;
        align-items: center;
        justify-items: center;
        align-content: space-evenly;
}
.idea-container {
    border: 1px solid #1f1f3d;
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.top-margin {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f3d;
}

.x-btn {
    width: 40px;
    height: 40px;
    border: 0;
    color: #fff;
    opacity: 100;
    background-color: #1f1f3d;
    cursor: pointer;
}

.star-btn {
    width: 40px;
    height: 40px;
    background-color: #1f1f3d;
    border: 0;
    cursor: pointer;
}

.bottom-bar {
    display: flex;
    /* bottom: 0; */
    justify-content: flex-start;
    align-items: center;
    background-color: #5356a4;
    height: 40px;
    border: #1f1f3d
}

.plus-button {
    width: 40px;
    height: 40px;
    background-color: #5356a4;
    border: 0;
    cursor: pointer;
}
.idea-title, .idea-contents {
    padding-left: 6px;
    padding-top: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    color: #1f1f3d
}
.idea-title {
    font-family:'Open Sans', Bold;
    font-weight: bold
}
.idea-contents {
    font-family: "Open Sans", Light;
    font-weight: bolder;
}
#idea-card-comment {
    color: #e9e9f3;
    font-size: 16px;
    font-family: "Open Sans", Bold;
    font-weight: bolder;
}

.hidden {
    display: none;
}